<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Login</title>
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">Hospital Login</div>
        <form  method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            
            <button type="submit" value="Login">Login</button>
        </form>
        <br>
        <!-- <a href="#" class="forgot-password">Forgot Password?</a> -->
        <a href="/signup" class="forgot-password">Create Account</a>


    </div>
</body>
</html>
